BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentCaseLabels: true
IndentCaseBlocks: false
IndentWidth: 6
ContinuationIndentWidth: 6
TabWidth: 6
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
