BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentCaseLabels: true
IndentWidth: 6
TabWidth: 6
UseTab: Never
ColumnLimit: 0
EmptyLinesBetweenFunctions: 2
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortBlocksOnASingleLine: true
